.cell {
  height: 20px;
  width: 20px;
  border-left: 1px solid #eee;
  box-sizing: border-box;

  &:last-child {
    border-right: 1px solid #eee;
  }
}

.water {
  background-color: blue;
}

.rock {
  background-color: #000;
}
